{% extends "base.html" %}

{% block title %}Locations - Bird Tracker{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Bird Watching Locations</h2>
    
    <div class="row">
        {% for location in locations %}
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ location.name }}</h5>
                    <p class="card-text">
                        <strong>Coordinates:</strong> {{ location.latitude }}, {{ location.longitude }}<br>
                        <strong>Radius:</strong> {{ location.radius }} miles
                    </p>
                    <div id="map-{{ location.id }}" style="height: 200px;"></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
function initMaps() {
    {% for location in locations %}
    new google.maps.Map(document.getElementById('map-{{ location.id }}'), {
        zoom: 12,
        center: { lat: {{ location.latitude }}, lng: {{ location.longitude }} },
        mapTypeId: 'terrain'
    });
    {% endfor %}
}
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ google_places_api_key }}&callback=initMaps">
</script>
{% endblock %} 